{extend name="layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">安装模块</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" method="post">
            <input type="hidden" name="module" value="{$config.module}">
            
            <div class="layui-form-item">
                <blockquote class="layui-elem-quote layui-quote-nm">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-xs12 layui-col-sm2 lake-admin-module-icon">
                            <img src="{$icon}" />
                        </div>
                        <div class="layui-col-xs12 layui-col-sm10">
                            <h3 class="lake-admin-module-name">
                                {$config.name} 
                                <span class="lake-admin-module-ver text-gray">v{$config.version}</span>
                            </h3>
                            
                            <div class="lake-admin-module-author">
                                <span class="text-gray">
                                    <i class="iconfont icon-people"></i>
                                    作者：
                                </span>
                                <a class="text-black" href="{$config.authorsite|default='javascript:;'}" target="_blank">
                                    {$config.author}
                                </a>
                            </div>
                            
                            <div class="lake-admin-module-authoremail">
                                <span class="text-muted">
                                    <i class="iconfont icon-mail"></i>
                                    邮箱：
                                </span>
                                <span class="text-black">{$config.authoremail}</span>
                            </div>
                            
                            <div class="lake-admin-module-introduce text-gray">
                                {$config.introduce}
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
            
            <div class="layui-form-item">
                <table class="layui-table" lay-even style="max-width: 280px;">
                    <colgroup>
                        <col width="180">
                        <col width="100">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <td>系统版本适配</td>
                            <td class="text-center">{$version_check|raw}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            
            {notempty name="need_module"}
            <div class="layui-form-item">
                <h4><b>模块依赖</b></h4>
                <table class="layui-table" lay-even style="max-width: 400px;">
                    <colgroup>
                        <col width="180">
                        <col width="100">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>模块</th>
                            <th>当前版本</th>
                            <th>所需版本</th>
                            <th class="text-center">检查结果</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="need_module" id="vo"}
                        <tr>
                            <td>{$vo.module}</td>
                            <td width="100">{$vo.version}</td>
                            <td width="100">{$vo.version_need}</td>
                            <td class="text-center" width="100">{$vo.result|raw}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            {/notempty}
            
            <div class="layui-form-item">
                <h4><b>是否清除旧数据</b></h4>
                <div>
                    <input type="radio" name="clear" value="0" title="否" checked>
                    <input type="radio" name="clear" value="1" title="是">
                </div>
                <div class="layui-form-mid layui-word-aux">选择“是”，将根据模块的安装脚本执行相应的清除操作。</div>
            </div>
            
            {if !empty($config['demo'])}
            <div class="layui-form-item">
                <div>
                    <input type="checkbox" name="demo" title="安装演示数据" value="1" lay-skin="primary" checked>
                </div>
                <div class="layui-form-mid layui-word-aux">含有旧数据时,请勿勾选,以免数据冲突</div>
            </div>
            {/if}
            
            <div class="layui-form-item">
                <button class="layui-btn" id="install" lay-submit="" lay-filter="*" target-form="form-horizontal">确认安装</button>
                <button class="layui-btn layui-btn-normal" type="button" onclick="javascript:history.back(-1);">返回</button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="layui"}{/block}
{block name="script"}
<script>
layui.use(['layer', 'form'], function() {
    $('#install').click(function() {
        var table_exists = false;
        var target;
        if ($('.layui-form i.text-danger').length) {
            layer.msg('系统版本过低或缺少依赖模块或插件')
            return false;
        }
        if ($('.layui-form span.text-danger').length) {
            table_exists = true;
        }
        if (table_exists && $('.layui-form input[name=clear]:checked').val() == 0) {
            layer.msg('数据库表存在冲突，如果需要覆盖原有数据，请选择“清除旧数据”')
            return false;
        }
        //$('.layui-form').submit();
        target = $('.form-horizontal').attr("action");
        $.post(target, $('.form-horizontal').serialize()).success(function(data) {
            if (data.code == 1) {
                if (data.url) {
                    layer.alert(data.msg, { icon: 1 }, function(index) {
                        layer.close(index);
                        if (data.url) {
                            location.href = data.url;
                        } else {
                            location.reload();
                        }
                    });
                } else {
                    layer.alert(data.msg);
                }
            } else {
                layer.alert(data.msg);
            }

        });
        return false;
    });
});
</script>
{/block}
