{extend name="layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">更改密码</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <input type="hidden" name="id" value="{$data.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" autocomplete="off" placeholder="旧密码" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入旧密码。</div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password2" autocomplete="off" placeholder="新密码" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入新密码。</div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password2_confirm" autocomplete="off" placeholder="确认新密码" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请再次输入您的密码</div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn js-lake-admin-password" lay-submit="" lay-filter="formSubmit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="admin/libs/md5.js"></script>
<script type="text/javascript">
layui.use(['form', 'layer', 'jquery'], function() {
    var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery;
        
    $(".js-lake-admin-password").on("click", function(data) {
        var password = $('input[name="password"]').val();
        var password2 = $('input[name="password2"]').val();
        var password2_confirm = $('input[name="password2_confirm"]').val();
        
        $('input[name="password"]').val(hex_md5(password));
        $('input[name="password2"]').val(hex_md5(password2));
        $('input[name="password2_confirm"]').val(hex_md5(password2_confirm));
    });
});
</script>

{/block}
