@charset "utf-8";

::selection{color:#fff !important;background-color:#009688 !important}
::-moz-selection{color:#fff !important;background-color:#009688 !important}

.lake-admin iframe {position: absolute; height: 100%; width: 100%; border: none; }

.lake-admin .mag0 { margin:0 !important; }
.lake-admin .pad0 { padding:0 !important; }

.lake-admin .admin-menu-toggle {float: left; width: 20px; height: 20px; margin-top: 15px; font-size: 17px; line-height: 20px; text-align: center; padding: 5px 5px; color: #fff; background-color: #1AA094; }
.lake-admin .admin-menu-toggle:hover { color:#fff; }

.lake-admin .admin-side-full {float: left; width: 20px; height: 20px; margin-top: 15px; margin-left: 15px; font-size: 17px; line-height: 20px; text-align: center; padding: 5px 5px; color: #fff; background-color: #1AA094; }
.lake-admin .admin-side-full:hover { color:#fff; }

.lake-admin .layui-tab-content {top: 41px; position: absolute; bottom: 0; width: 100%; padding: 0; }
.lake-admin .lake-admin-iframe-box{position: relative; height: 100%; overflow: auto; }

.lake-admin .layui-layout-admin .lake-admin-logo {color: #fff; float: left; line-height: 60px; font-size: 18px; padding: 0 25px; text-align: center; width: 150px; }
.lake-admin .layui-layout-admin .lake-admin-logo .lake-admin-logo-name {color: #fff;}
.lake-admin .layui-layout-admin .lake-admin-logo .lake-admin-logo-name-mini {color: #fff;display: none;}

.lake-admin .layui-tab-title .layui-this {background-color: #009688; color: #fff; }
.lake-admin .layui-tab-title .layui-this:after {border: none; }
.lake-admin .lake-admin-top-level-menus {float: left; }
.lake-admin .lake-admin-top-level-menus .layui-nav-item.layui-this {background-color: rgba(0,0,0,0.5); }
.lake-admin .lake-admin-top-level-menus.layui-nav .layui-nav-item{height: 60px;}

.lake-admin .lake-admin-top-tabs-box {
    padding-right: 138px;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
}
.lake-admin .lake-admin-top-tabs-box .tab-right {
    background: #fff;
    right: 0px;
    top: 0;
    height: 40px;
    width: 175px;
    position: absolute;
    text-align: left;
}
.lake-admin .lake-admin-top-tabs-box .lake-admin-top-tab {
    top: 0; 
    position: absolute; 
    border-bottom: none; 
    left:80px; 
}
.lake-admin .lake-admin-top-tabs-box .lake-admin-top-tab li {
    border-right: 1px solid #e6e6e6;
}
.lake-admin .lake-admin-top-tabs-box .tab-right .lake-admin-close-box {
    position: absolute;
    right: 0;
    background-color: #fff !important;
    color: #000;
    border-left: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.lake-admin .lake-admin-top-tabs-box .tab-right .lake-admin-close-box .layui-nav-item {
    height: 40px;
    line-height: 40px;
}
.lake-admin .lake-admin-top-tabs-box .tab-go-refresh{z-index: 99;background: #fff;position: absolute; top: 0; width: 40px; height:40px; text-align: center; cursor: pointer; transition: all .3s; -webkit-transition: all .3s; box-sizing: border-box; border-right: 1px solid #e6e6e6;}
.lake-admin .lake-admin-top-tabs-box .tab-go-refresh i{ color: #666; font-size: 20px; line-height: 40px; cursor: pointer}
.lake-admin .lake-admin-top-tabs-box .tab-go-left {border-color: #e6e6e6; left:40px; top: 0; height: 40px; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; width: 39px; position: absolute; text-align: center; background: #fff; z-index: 999; }
.lake-admin .lake-admin-top-tabs-box .tab-go-left i { color: #666; font-size: 20px; line-height: 40px; cursor: pointer; }
.lake-admin .lake-admin-top-tabs-box .tab-go-right {background: #fff; border-color: #e6e6e6; right: 60; top: 0; height: 40px; border-bottom: 1px solid #e6e6e6; width: 40px; position: absolute; text-align: center; border-left: 1px solid #e6e6e6; z-index: 999; border-right: 1px solid #e6e6e6; }
.lake-admin .lake-admin-top-tabs-box .tab-go-right i {cursor: pointer; color: #666; font-size: 20px; line-height: 40px; }

/* 页面操作 */
.lake-admin .lake-admin-close-box .layui-nav-child {
    top: 42px; 
    left: -12px; 
}
.lake-admin .lake-admin-close-box .layui-nav-item>a, 
.lake-admin .lake-admin-close-box .layui-nav-item>a:hover {
    color: #000; 
}
.lake-admin .lake-admin-close-box a span.layui-nav-more {
    border-color: #333 transparent transparent; 
}
.lake-admin .lake-admin-close-box a span.layui-nav-more.layui-nav-mored{ 
    border-color:transparent transparent #333;
}
.lake-admin .lake-admin-close-box a i.caozuo {
    font-size: 16px; 
    position: absolute; 
    top: 1px; 
    left: 0; 
}

/* tab右键 */
.lake-admin .lake-admin-contextmenu {
    position: absolute;
    line-height: 36px;
    padding: 5px 0;
    border: 1px solid #d2d2d2;
    background-color: white;
    z-index: 19940201;
    border-radius: 2px;
    white-space: nowrap;
    top:30px;
}
.lake-admin .lake-admin-contextmenu ul li{
    padding: 0 15px;
}
.lake-admin .lake-admin-contextmenu ul li:hover{
    background-color: #eee;
    cursor: pointer;
}

.lake-admin .layui-nav-itemed .layui-nav-child a {
    padding-left: 40px;
}
.lake-admin .layui-nav-tree .layui-nav-item > a {
    position: relative;
}
.lake-admin .layui-nav-tree .layui-nav-item.layui-nav-item-active > a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #009688;	
    transition: all .2s;
    -webkit-transition: all .2s;
}
.lake-admin .layui-nav-tree.layui-nav-item-bar-hide .layui-nav-item > a:after {
    display: none !important;
    transition: all .2s;
    -webkit-transition: all .2s;
}

/* lake-admin-skin-black */
.lake-admin.lake-admin-skin-black .admin-menu-toggle {
    color: #fff;
    background-color: #1AA094;	
}
.lake-admin.lake-admin-skin-black .admin-menu-toggle:hover { 
    background-color: #12bdae;	
}
.lake-admin.lake-admin-skin-black .admin-side-full {
    color: #fff;
    background-color: #1AA094;	
}
.lake-admin.lake-admin-skin-black .admin-side-full:hover { 
    background-color: #12bdae;	
}
.lake-admin.lake-admin-skin-black .admin-header-item .layui-nav-child a:hover{color: #666;}
.lake-admin.lake-admin-skin-black .lake-admin-skin .layui-nav-child dd.lake-admin-skin-active a, 
.lake-admin.lake-admin-skin-black .lake-admin-skin .layui-nav-child dd.lake-admin-skin-active {
    background-color: #5FB878 !important;
    color: #fff !important;
}

/* lake-admin-skin-white */
.lake-admin.lake-admin-skin-white .admin-menu-toggle {
    color: #191919;
    background-color: #eee;	
}
.lake-admin.lake-admin-skin-white .admin-menu-toggle:hover { 
    color:#009688; 
}
.lake-admin.lake-admin-skin-white .admin-side-full {
    color: #191919;
    background-color: #eee;	
}
.lake-admin.lake-admin-skin-white .admin-side-full:hover { 
    color:#009688; 
}
.lake-admin.lake-admin-skin-white .layui-bg-black{
    background-color: #fff !important;
}
.lake-admin.lake-admin-skin-white .layui-nav-tree{
    background-color: #fff !important;
}
.lake-admin.lake-admin-skin-white .layui-nav .layui-nav-item .layui-nav-child{
    background-color: #ccc !important;
}
.lake-admin.lake-admin-skin-white .layui-nav-tree .layui-nav-itemed{
    background-color: #999;
}
.lake-admin.lake-admin-skin-white .layui-nav-tree .layui-nav-itemed > a {
    background-color: #fff;
    color: #333!important;
}
.lake-admin.lake-admin-skin-white .layui-nav-tree .layui-nav-item  > a:hover {
    background-color: #ddd !important;
    color: #009688 !important;
}
.lake-admin.lake-admin-skin-white .layui-nav-tree .layui-nav-itemed .layui-this a{
    background-color: #999 !important;
    color:#fff !important;
}
.lake-admin.lake-admin-skin-white .layui-nav .layui-nav-item a{
    color: #191919;
}
.lake-admin.lake-admin-skin-white .layui-nav .layui-nav-item a:hover{
    color: #009688;
}
.lake-admin.lake-admin-skin-white .layui-nav .layui-nav-item.layui-this {
    background-color: #EEE;
}
.lake-admin.lake-admin-skin-white .layui-nav .layui-nav-item.layui-this a:hover{
    color: #009688;
}
.lake-admin.lake-admin-skin-white .lake-admin-skin .layui-nav-child dd.lake-admin-skin-active a, 
.lake-admin.lake-admin-skin-white .lake-admin-skin .layui-nav-child dd.lake-admin-skin-active {
    background-color: #999 !important;
    color: #000 !important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-header{
    background-color: #fbfbfb !important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .lake-admin-logo .lake-admin-logo-name {
    color: #000 !important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .lake-admin-logo .lake-admin-logo-name-mini{
    color: #000 !important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-header .admin-header-item a:hover{
    color: #333;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .header .layui-nav .layui-this{
    background-color: #fff;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-nav-item .layui-nav-child{
    background-color: #ececec!important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .admin-header-item .layui-nav-item .layui-nav-child{
    background-color: #fff!important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .lake-admin-top-tab.layui-tab-title .layui-this {
    background-color: #EEE;
    color: #000 !important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-item a {
    color: #333;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-item dd a:hover{
    color: #009688;
}
.lake-admin.lake-admin-skin-white .layui-nav .layui-nav-child dd.layui-this a, 
.lake-admin.lake-admin-skin-white .layui-nav-child dd.layui-this {
    background-color: #999 !important;
    color: #fff !important;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-nav-more{
    border-color: #333 transparent transparent;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-nav-mored{
    border-color: transparent transparent #333 ;
}
.lake-admin.lake-admin-skin-white .layui-layout-admin .layui-layout-admin-frame:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: 3px solid #009688;
    z-index: 1000;
}
.lake-admin.lake-admin-skin-white .layui-bg-black:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 3px solid #009688;
    z-index: 1000;
}

/* lake-admin-skin-blue */
.lake-admin.lake-admin-skin-blue .admin-menu-toggle {
    color: #fff;
    background-color: #1E8eFF;
}
.lake-admin.lake-admin-skin-blue .admin-menu-toggle:hover { 
    color:#333; 
}
.lake-admin.lake-admin-skin-blue .admin-side-full {
    color: #fff;
    background-color: #1E8eFF;
}
.lake-admin.lake-admin-skin-blue .admin-side-full:hover { 
    color:#333; 
}
.lake-admin.lake-admin-skin-blue .layui-bg-black{
    background-color: #01AAED !important;
}
.lake-admin.lake-admin-skin-blue .layui-nav-tree{
    background-color: #01AAED !important;
}
.lake-admin.lake-admin-skin-blue .layui-nav .layui-nav-item .layui-nav-child{
    background-color: #ccc !important;
}
.lake-admin.lake-admin-skin-blue .layui-nav-tree .layui-nav-itemed{
    background-color: #999;
}
.lake-admin.lake-admin-skin-blue .layui-nav-tree .layui-nav-itemed > a {
    background-color: #01AAED;
    color: #fff!important;
}
.lake-admin.lake-admin-skin-blue .layui-nav-tree .layui-nav-item > a:hover {
    background-color: #2d91f5 !important;
    color: #000 !important;
}
.lake-admin.lake-admin-skin-blue .layui-nav-tree .layui-nav-itemed .layui-this a{
    background-color: #1E8eFF !important;
    color:white !important;
}
.lake-admin.lake-admin-skin-blue .layui-nav .layui-nav-child dd.layui-this a, 
.lake-admin.lake-admin-skin-blue .layui-nav-child dd.layui-this {
    background-color: #1E8eFF !important;
    color: #fff !important;
}
.lake-admin.lake-admin-skin-blue .layui-nav .layui-nav-item.layui-this {
    background-color: #1e9fff;
}
.lake-admin.lake-admin-skin-blue .layui-nav .layui-nav-item a:hover{
    color: #333;
}
.lake-admin.lake-admin-skin-blue .layui-nav .layui-nav-item.layui-this a:hover{
    color: #333;
}
.lake-admin.lake-admin-skin-blue .layui-nav .layui-nav-item a{
    color: rgba(255,255,255,1);
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-header{
    background-color: #01AAED !important;
}
.lake-admin.lake-admin-skin-blue .logo span{
    color: #fff;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-header .admin-header-item a:hover{
    color: #333;
}
.lake-admin.lake-admin-skin-blue .header .layui-nav .layui-this{
    background-color: #01AAED;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav-item .layui-nav-child{
    background-color: #1E9FFF!important;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .admin-header-item .layui-nav-item .layui-nav-child{
    background-color: #01AAED!important;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .lake-admin-top-tab.layui-tab-title .layui-this {
    background-color: #1E8eFF;
    color: #FFF !important;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-item a {
    color: #333;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-item dd a {
    color: #fff !important; 
    transition: all .3s;
    -webkit-transition: all .3s; 
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-item dd a:hover{
    color: #333 !important;
    transition: all .3s;
    -webkit-transition: all .3s; 
}
.lake-admin.lake-admin-skin-blue .lake-admin-skin .layui-nav-child dd.lake-admin-skin-active a, 
.lake-admin.lake-admin-skin-blue .lake-admin-skin .layui-nav-child dd.lake-admin-skin-active {
    background-color: #1E8eFF !important;
    color: #FFF !important;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav-more{
    border-color: #fff transparent transparent;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav-mored{
    border-color: transparent transparent #fff ;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-more {
    border-color: #333 transparent transparent;
}
.lake-admin.lake-admin-skin-blue .layui-layout-admin .layui-nav.lake-admin-close-box .layui-nav-mored {
    border-color: #333 transparent transparent;
}

@media (min-width: 768px) {
    .lake-admin .layui-layout-admin .lake-admin-logo {
        width: 150px;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .lake-admin-logo .lake-admin-logo-name {
        display: block !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .lake-admin-logo .lake-admin-logo-name-mini {
        display: none !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .lake-admin-logo {
        width: 60px;
        padding: 0;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .lake-admin-logo .lake-admin-logo-name {
        display: none !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .lake-admin-logo .lake-admin-logo-name-mini {
        display: block !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }	
    
    .lake-admin .layui-layout-admin .layui-side {
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-side {
        width: 60px !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .layui-side .navBar {
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-side .navBar {
        width: 80px !important; 
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .layui-side .layui-nav {
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-side .layui-nav {
        width: 60px !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .layui-side .layui-nav .layui-nav-item:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transition: all .3s;
        -webkit-transition: all .3s;
        height: 1px;
        background: rgba(0, 0, 0, 0) !important;
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-side .layui-nav .layui-nav-item:before {
        content: "";
        position: absolute;		
        left: 0;
        right: 0;
        top: 0;
        width: 60px !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
        height: 1px;
        background: rgba(0, 0, 0, 0.3) !important;
    }
    .lake-admin .layui-layout-admin .layui-side .layui-nav-title {
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-side .layui-nav-title {
        display: none !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .layui-side .layui-nav-child a {
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-side .layui-nav-child a {
        padding-left: 20px !important;
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin .layui-body,
    .lake-admin .layui-layout-admin .layui-footer {
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-body,
    .lake-admin .layui-layout-admin.layui-layout-admin-collapse .layui-footer {
        left: 60px !important; 
        transition: all .3s;
        -webkit-transition: all .3s; 
    }
}
@media screen and (max-width:1080px){
    .lake-admin .lake-admin-top-level-menus{display: none !important; }
}
@media screen and (max-width: 768px) {
    .lake-admin .layui-layout-admin .layui-side{
        left: -300px; 
        transition: all .3s; 
        -webkit-transition: all .3s;
    }
    .lake-admin .lake-admin-site-tree-mobile{
        display: block!important; 
        position: fixed; 
        z-index: 100000; 
        bottom: 20px; 
        left: 10px; 
        width: 40px; 
        height: 40px; 
        line-height: 40px; 
        border-radius: 2px; 
        text-align: center; 
        background-color: rgba(0,0,0,.7); 
        color: #fff;
    }
    
    .lake-admin.lake-admin-site-mobile .lake-admin-site-tree-mobile{
        display: none !important;
    }
    .lake-admin.lake-admin-site-mobile .layui-side{ 
        left: 87px; 
        z-index:1100; 
    }
    .lake-admin.lake-admin-site-mobile .lake-admin-site-mobile-shade{
        content: ''; 
        position: fixed; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        background-color: rgba(0,0,0,.9); 
        z-index: 999;
    }
    .lake-admin .layui-body,
    .lake-admin .layui-layout-admin .layui-footer{ 
        left:-2px; 
    }

    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .lake-admin-top-level-menus .layui-nav-item {
        background-color: #1E9FFF !important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .lake-admin-top-level-menus .layui-nav-item.layui-this {
        background-color: #1E8eFF !important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .layui-nav .layui-this:after, 
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .layui-nav-bar, 
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .layui-nav-tree .layui-nav-itemed:after {
        background-color: #009688 !important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .layui-nav-tree .layui-nav-item.layui-nav-item-active > a:after {
        background-color: #009688 !important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-blue .layui-nav-tree .layui-nav-item a:hover {
        background-color: #1E8eFF !important;
        color: #333 !important;
    }

    .lake-admin.lake-admin-site-mobile.lake-admin-skin-white .lake-admin-top-level-menus .layui-nav-item {
        background-color: #ececec!important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-white .lake-admin-top-level-menus .layui-nav-item.layui-this {
        background-color: #999 !important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-white .lake-admin-top-level-menus .layui-nav-item.layui-this a {
        color: #fff !important;
    }
    .lake-admin.lake-admin-site-mobile.lake-admin-skin-white .layui-bg-black:after{
        border-left: 3px none !important;
    }
}
@media screen and (max-width: 720px){
    .lake-admin .lake-admin-hide-menu {display: none !important; }
    .lake-admin .lake-admin-winner-hide {display: none !important; }
    
    .lake-admin.lake-admin-site-mobile .lake-admin-top-level-menus {display: block !important; float: left;z-index:1100;position: absolute;left: -20px;top: 60px;width: 150px;}
    .lake-admin.lake-admin-site-mobile .lake-admin-top-level-menus .layui-nav-item {background-color: #23262e; }
    .lake-admin.lake-admin-site-mobile .lake-admin-top-level-menus .layui-nav-item.layui-this {background-color: rgba(0,0,0,0.5); }
    
    .lake-admin.lake-admin-site-mobile .lake-admin-top-level-menus .layui-nav-item.layui-this:after {
        bottom: 0;
        width: 5px;
        height: inherit;
    }
    .lake-admin.lake-admin-site-mobile .lake-admin-top-level-menus .layui-nav-bar {
        display: none;
    }
}
