<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{:config('lake.name')}</title>
    <meta name="author" content="deatil">
    <base href="__STATIC__/" />
    <link rel="stylesheet" href="admin/libs/layui/css/layui.css">
    <link rel="stylesheet" href="admin/libs/iconfont/iconfont.css">
    <link rel="stylesheet" href="admin/admin/css/admin.css">
    <script src="admin/libs/layui/layui.js"></script>
    <script src="admin/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript">
    // 全局变量
    var lake = {
        url: {
            'image_upload_url': '{$image_upload_url ? $image_upload_url : url("attachments/upload", ["dir" => "images", "module" => env("module_name", app("http")->getName())])}',
            'file_upload_url': '{$file_upload_url ? $file_upload_url : url("attachments/upload", ["dir" => "files", "module" => env("module_name", app("http")->getName())])}',
            'webuploader_swf': 'admin/webuploader/Uploader.swf',
            'ueditor_upload_url': '{$ueditor_upload_url ? $ueditor_upload_url : url("attachments/upload", ["dir" => "images","from"=>"ueditor", "module" => env("module_name", app("http")->getName())])}',
            'ueditor_grabimg_url': '{$ueditor_upload_url ? $ueditor_upload_url : url("attachments/geturlfile")}',
        }
    };
    </script>
</head>

<body class="lake-admin-container">
    {block name="main"}lake-admin{/block}
    
    {block name="layui"}
    <script type="text/javascript">
    if (self.location == top.location) {
        window.location.href = '{:url("index/index")}';
    }
    
    layui.config({
        version: '2020072023015895',
        base: 'admin/libs/layui-extend/'
    }).extend({
        tagsinput: '{/}admin/libs/layui-extend-tagsinput/tagsinput',
        common: '{/}admin/admin/js/common',
        bind: '{/}admin/admin/js/bind'
    }).use(['common', 'bind']);

    layui.define(['table', 'layer'], function(exports) {
        $ = layui.jquery;

        // iframe内点击 隐藏菜单
        $(document).on('click', function () { 
            try {
                $(top.window.document).find('div.lake-admin-contextmenu').remove();
            } catch (e) {
            }
        });
    });
    </script>
    {/block}
    {block name="script"}{/block}
</body>

</html>